header {
  text-align: center;
	font-family: PT Mono;
  font-size: 20px;
  margin-top: 45px;
  margin-bottom: 30px;
}

header.result {
  text-align: center;
  font-family: PT Mono;
  font-size: 14px;
  margin: 20px;
}

button,
body {
  font-family: "Inconsolata";
  font-size: 13px;
  letter-spacing: 0.22px;
}

#canvas-container {
  display: block;
  border: 2px solid black;
  margin: auto;
  width: 400px;
  height: 400px;
  position: relative;
}

canvas {
  display: block;
}

button {
  border: 1px solid black;
  background-color: #ededed;
  padding: 5px;
  display: inline-block;
}

#gen {
  margin-bottom: 5px;
}

#prompt-display {
  position: static;
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}

#ans-display {
  position: static;
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}

#canvas-buttons {
  position: static;
  display: block;
  width: 100%;
  padding-top: 10px;
  margin: auto;
  align-items: center;
  text-align: center;
}

button.active {
  background-color: #888;
}

.color {
  color: white;
}
/*
#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#black {
  background-color: black;
}
*/
