<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>:)</title>
    <link rel='stylesheet' type='text/css' href = 'styles.css'>
  </head>

  <body>
    <header>hi! generate a fun prompt, or simply draw something below. </header>
    <div id="prompt-display">
      <button onclick ="generate_prompt()" id="gen">your prompt is... </button>
      <div id="prompt"></div>
    </div>
    <div id="canvas-container"><canvas id="cfd"></canvas></div>
    <div id="canvas-buttons">
    <button id="save">guess!</button>
    <button id="clear">clear canvas</button>
    <button id="undo">undo</button>
    <button id="redo">redo</button>
    </div>
    <header id='results'></header>
    <br />
    <!--
    <button id="red" class="color">Red</button>
    <button id="green" class="color">Green</button>
    <button id="blue" class="color">Blue</button>
    <button id="black" class="color">Black</button>
    -->
    <br />
    <br />
    <br />
  </body>
  <script src="canvas-drawing.js"></script>
  <script src="prompt-generator.js"></script>
  <script>
    const cfd = new CanvasFreeDrawing.default({
      elementId: 'cfd',
      width: 400,
      height: 400,
      showWarnings: true,
    });
    const textarea = document.getElementById('backup');
    document
      .getElementById('clear')
      .addEventListener('click', () => cfd.clear());
    document.getElementById('save').addEventListener('click', () => {
      textarea.value = cfd.save();
    });
    document.getElementById('undo').addEventListener('click', () => cfd.undo());
    document.getElementById('redo').addEventListener('click', () => cfd.redo());
  </script>
</html>
